 html {background:#f9f9f9;}
      body,html{width:100%; margin:0; padding:0;}
      main{margin: 0 auto; width:90%; max-width:50em; font-family: "Open Sans", sans-serif;}
      hr{margin-top: 26px; margin-bottom:26px; opacity:0.15;}
      h3{font-size: 22px; font-weight: 300; line-height:1}
      h2{font-size: 26px; font-weight: 300; line-height:1; color:#666;}
      h1{font-size: 48px; font-weight: 300; line-height: 1; color:#999;}
      p, li {font-size:18px; line-height:1.5; font-weight: 300; color:#666;}
      h2{margin-top:2em;} 
      h3{margin-top:2em;} 
      a {color:inherit;  font:inherit;}
      .main-content{margin-top:4em};
      h2{font-weight: 700}
      h1, h2, h3 {color:#666;}
      .frontMatter, .backMatter{background:#0091ea; color:#fff; margin:0; padding:2em;}
      .frontMatter *, .backMatter * {color:#fff}
      footer{margin-top:2em}
      .main-content h2:after{display:block; content:""; margin-top: 26px; margin-bottom:26px; width:100%; height:1px; background-color: #ccc}
      .main-content {padding-bottom:2em}

thead{
      background:#0091ea; ;
      color: #fff;
      line-height:2;
      font-weight: 300;
}
tbody tr:nth-of-type(even) {
      background:#e6e6e6;
}
tbody tr{
      line-height:1.5;
      transition: all .2s;
}
td,th {
      padding:1em;
      text-align:left;
      border:none     
}
tbody tr:hover{
      background:#b3e5fc;
}
.mono{     
    font-family: 'Source Code Pro', monospace;
}
table{
      width:100%
}
