<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title> {{ site.title }} | {{ page.title }} </title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.description }}"> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet"> 
    <link href='{{ site.url }}/assets/css/styles.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <header class="header-page frontMatter">
    <section class="page-header">
      <main>
        <h1 class="project-name">{{ site.title }}</h1>
        <h2 class="project-tagline">{{ site.description }}</h2>
        <!--
        <a href="#" class="btn">View on GitHub</a>
        <a href="#" class="btn">Download .zip</a>
        <a href="#" class="btn">Download .tar.gz</a>
        -->
      </main>
    </section>
  </header>
  
  <section class="main-content">
    <article>
      <h1> {{ page.title }}</h1>
      <h3> {{ page.description }}</h3>
      <p><strong> From: </strong> {{ page.peoples.sender-id }}</p>
      <p><strong> To: </strong> {{ page.peoples.receiver-id }}</p>
      <p><strong>Date:</strong> {{ page.date }}</p>
      <main>
        {{ content }}
    </main>
    </article>
  </section>
  
  <footer class="backMatter">
    <main>
      <h2>{{ site.title }}</h2>
      <p>{{ site.description }}</p>     
      <hr>
      <p>Return to the <a href="{{ site.url }}">homepage</a>.</p>
       
      <!-- tofix -->
      
      <hr>    
      <!-- / --->
      <p>{{ site.copyright }}</p>
    </main>
  </footer>
  <div class="colophon">
    <main>
      <p style="line-heght:3">You are viewing the 5 most recent entries. Click <a href="/news-all">here</a> for the full list.</p>
      <p style="line-height:3"><small>Hosted with ❤ by <a href="https://github.com/emigrita/emigrita.github.io" target="_blank">GitHub</a>.</small></p> 
      <p style="line-height:3"><small>Read the Feeds: <a href="https://github.com/emigrita/emigrita.github.io/commits/master.atom" target="_blank">gh Commits</a> | <a href="/feed"> Feeds from Home</a>.</small></p> 
    </main>
  </div>
  </body>
</html>
